/* .card-img-top {
    width: 35ex;
    height: 52.5ex;
    width: 100%;
    height: 23vw;
    object-fit: cover;
} */

.row {
    margin: 3em 0 3em 0;
}

.movies-list {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


/* .list-group-item {
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
    line-height: 3ex;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    box-align: middle;
} */

.movie-item {
    line-height: 3ex;
    /* 2.5ex for each visible line */
    height: 3ex;
    /* height: 4.8em; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.movie-overview {
    line-height: 2.5ex;
    /* 2.5ex for each visible line */
    height: 10ex;
    /* height: 4.8em; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card {
    transition: 0.3s;
}

.card:hover {
    cursor: pointer;
    background-color: #3F51B5;
    color: white;
}

.card-title {
    /* 2 lines */
    height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-icon {
    width: 3ex;
    height: 3ex;
    margin-right: 1em;
}


/* a.list-group-item {
    overflow: hidden;
    display: table;
}

a.list-group-item>div {
    display: table-cell;
    vertical-align: middle;
    float: none;
} */


/* .list-group-item {
    position: relative;
    height: 3.6em;
}

.list-group-item:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
} */